@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

:root {
    --salmon: #FF7979;
    --green: #38CC8B;
    --purple: #5E54A4;
    --black: #3D3B48;
    --white: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
}